[submodule "lib/limine-protocol"]
	path = lib/limine-protocol
	url = git@github.com:Limine-Bootloader/limine-protocol.git
[submodule "lib/limine"]
	path = lib/limine
	url = git@github.com:Limine-Bootloader/Limine.git
[submodule "lib/spidir-wasm"]
	path = lib/spidir-wasm
	url = git@github.com:Itay2805/spidir-wasm.git
